<%# Session component for the details of a sessio_type summary within an event's timetable %>
<%# session_type:: expected to be a SessionType ID %>
<%# event:: expected to be an event %>
<article class="flex-col space-y-4 session">
  <%= timetable_session_header session%>
  <div class="flex-col space-y-4">
    <%= timetable_session_image session%>
    <%= session.description %>
    <div class="text-orange-700">
      <%= timetable_session_presenter_bio(session) %>
    </div>
    <% if session.requirements.present? %>
      <h3 class="font-bold capitalize"><%= t('.requirements')%></h3>
      <%= session.requirements %>
    <% end %>
    <% if session.limit.present? %>
      <h3 class="font-bold capitalize"><%= t('.participant_limit')%></h3>
      <%= t('.limited_to', limit: session.limit) %>
    <% end %>
  </div>
  <div class="clear-right "></div>
</article>
