<%# Session component for the details of a time_slot within an event's timetable %>
<%# session:: expected to be a Session %>
<article class="flex-col space-y-4 session">
  <%= timetable_session_header session%>
  <div class="flex space-x-4">
    <%= session.description %>
    <%= timetable_session_image session%>
  </div>
  <div class="text-orange-700">
    <%= session.presenters.first.bio if session.presenters.first %>
  </div>
  <% if session.requirements.present? %>
    <h3 class="font-bold capitalize"><%= t('.requirements')%></h3>
    <%= session.requirements %>
  <% end %>
  <% if session.limit.present? %>
    <h3 class="font-bold capitalize"><%= t('.participant_limit')%></h3>
    <%= t('.limited_to', limit: session.limit) %>
  <% end %>
</article>
