<%# Timeslot component for a time_slot within an event's timetable %>
<%# time_slot:: expected to be a TimeSlot %>
<tr class="border-collapse border-orange border <%= timetable_time_slot_tr_class(time_slot) %>" x-on:xclick="chooseSlot($event)"
 data-time_slot="<%= dom_id(time_slot) %>">
  <td class="w-28 sm:w-32 text-center py-2 px-3 md:p-1 lg:p-2">
    <%= link_to(sessions_by_time_slot_path(time_slot),data: { turbo_frame: 'timetable_time_slot_summaries'}) do %>
      <%= alpine_time time: time_slot.starting_at, format: {hour: 'numeric', minute: 'numeric', weekday: 'short'}, class: 'hidden sm:inline' %>
      <%= alpine_time time: time_slot.starting_at, format: {hour: 'numeric', minute: 'numeric'}, class: 'sm:hidden' %>
      <br class="sm:hidden">
      <%= alpine_time time: time_slot.starting_at, format: {weekday: 'short'}, class: 'sm:hidden' %>
    <% end %>
  </td>
  <td class="table table-fixed w-full">
    <div class="py-2 px-3 md:p-1 lg:p-2 ">
      <%= link_to(sessions_by_time_slot_path(time_slot),data: { turbo_frame: 'timetable_time_slot_summaries'}) do %>
        <%= time_slot.title %>
      <% end %>
    </div>
  </td>
  <td class="w-12 py-2 px-3 md:p-1 lg:p-2 md:hidden">
    <% if time_slot.sessions.count > 0 %>
      <svg xmlns="http://www.w3.org/2000/svg" data-down_chevron viewBox="0 0 24 24" fill="currentColor" class="block w-6 h-6">
        <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z" clip-rule="evenodd" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" data-up_chevron
viewBox="0 0 24 24" fill="currentColor" class="hidden w-6 h-6">
        <path fill-rule="evenodd" d="M11.47 7.72a.75.75 0 011.06 0l7.5 7.5a.75.75 0 11-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 01-1.06-1.06l7.5-7.5z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </td>
</tr>
<% if time_slot.sessions.count > 0 %>
  <%# Session details for the time slot %>
  <tr class="border-collapse border-orange border hidden" data-time_slot_sessions="<%= dom_id(time_slot) %>">
    <td colspan="3" class="p-4 space-y-4">
      <% time_slot.sessions.order(:title).each do |session|%>
        <div>
          <%= render partial: 'sessions/session_thumbnail', locals: {session: session}  %>
        </div>
      <% end %>
    </td>
  </tr>
<% end %>
