<%# All sessions for a given session_type within an event's session summary %>
<%# session_type_id:: expected to be the ID of a SessionType %>
<%# event:: expected to be an Event %>
<div class="border border-orange origin-top" data-session_type=session_type_<%= session_type_id %> 
 x-show="selectedSessionType == 'session_type_<%= session_type_id %>'" 
 x-transition:enter="transition ease-out duration-300 transform"
 x-transition:enter-start="opacity-0 scale-75"
 x-transition:enter-end="opacity-100 scale-100"
 x-cloak>
  <div class="md:grid md:grid-cols-2 xl:grid-cols-3 p-4 space-y-4 md:space-y-0 md:gap-y-4 md:gap-x-6" data-sessions>
    <% event.sessions.where(session_type: session_type_id).order(title: :asc).each do |session| %>
      <div class="flex space-x-3">
        <!-- image -->
        <div class="shrink-0 h-24 max-h-24 min-w-32 w-32 bg-celery-300">
          <%= image_tag session.featured_image, class: 'h-24 w-32 min-w-32 max-h-24 object-cover' if session.featured_image.representable? %>
        </div>
        <!-- text -->
        <div class="flex flex-col justify-betweenx">
          <a href='#'>
            <p class="text-lg font-bold"><%= session.title %></p>
          </a>
          <a href='#'>
            <%= timetable_session_presenters(session, :session_summary) %>
          </a>
          <a href='#'>
            <%= timetable_session_time_slots(session) %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
