<%# Full Event Component %>
<%# event:: expected to be an Event %>
<% content_for :title, event.title %>
<article id="<%= dom_id event %>">
  <%= turbo_frame_tag "session_modal" do %>
  <% end %>
  <div class="overflow-hidden">
    <div class="relative mx-auto max-w-prose md:max-w-none md:py-16 space-y-6 sm:space-y-12">
      <div class="overview">
        <!-- <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8"> -->
        <div class="text-base space-y-6">
          <header class="w-full">
            <h2 class="text-lg font-semibold text-orange-800">
              <%= alpine_time time: event.starting_at %>
            </h2>
            <h2 class="mt-2 text-3xl font-bold leading-8 tracking-tighter text-orange sm:text-4xl"><%= event.title %></h2>
          </header>
          <section class="mt-5 lg:mt-3">
            <%= link_to t('.donate'), event.donation_url, class: "shadow bg-orange px-8 py-3 border border-transparent text-base capitalize font-medium rounded-md text-white hover:bg-orange-200" unless event.donation_url.blank?%>
            <%= register_link(event, class: "shadow bg-orange px-8 py-3 border border-transparent text-base capitalize font-medium rounded-md text-white hover:bg-orange-200") %>
            <%= link_to t('.register_now'), '#', class: "hidden shadow bg-orange px-8 py-3 border border-transparent text-base capitalize font-medium rounded-md text-white hover:bg-orange-200" if event.registerable? %>
          </section>
        </div>
        <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
          <div class="relative float-none md:w-1/2 lg:w-full md:float-right md:ml-4 md:mb-4 lg:ml-0 lg:mb-0 lg:col-start-2 lg:row-start-1">
            <svg class="absolute top-0 right-0 -mt-20 -mr-20 hidden lg:xblock" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
              <defs>
                <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
            </svg>
            <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
              <figure>
                <div class="lg:aspect-none">
                  <%= image_tag event.featured_image, class: 'rounded-lg object-cover object-center shadow-sm', width: '1184', height: '1376', loading: :eager, alt: event.title if event.featured_image.representable? %>
                </div>
                <div class='hidden'>
                  <figcaption class="mt-3 flex text-sm text-gray-500">
                    <span class="ml-2"><%#= event.featured_image_caption %></span>
                  </figcaption>
                </div>
              </figure>
            </div>
          </div>
          <div class="mt-8 md:mt-0 mx-auto text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
            <%= event.description %>
          </div>
        </div>
      </div>
      <%#= TODO handle events with no sessions better %>
      <%= render partial: 'sessions_summary', locals: {event: event} unless event.session_types_with_counts.blank?%>
      <% if event.published? or (current_user and current_user.admin?)%>
        <h2 class="font-bold text-xl text-skyblue-500"><%= t('.preview_session_information') if !event.published? %></h2>
        <%= render partial: 'timetable', locals: {event: event} unless event.session_types_with_counts.blank? %>
      <% end %>
    </div>
  </div>
  <% if action_name != "show" %>
    <section>
      <%= link_to "Show this event", event_path(id: event), class: "rounded-lg py-3 px-5 bg-celery-200 inline-block font-medium" %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Edit this event', edit_admin_event_path(id: event), class: "rounded-lg py-3 ml-2 px-5 bg-celery-200 inline-block font-medium"   %>
      <% end %>
    </section>
    <hr class="mt-6">
  <% end %>
</article>
