<!DOCTYPE html>
<html lang="<%= params[:locale] %>">
  <head>
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "GCSD" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render '/shared/gtm_script' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "lib/timezone_select" %>
    <%#= TODO: Figure out how to import this just in the _timetable.html.erb
               partial, but without disabling turbostreams 
               (with data: {turbo: false}) in all links that lead onto pages 
               that show the partial. 
               https://stackoverflow.com/questions/70690025/where-to-place-javascript-used-in-one-page-only-in-rails-7-with-importmap
               is clever, but doesn't handle the alpine side of things. %>
    <%= javascript_import_module_tag "lib/timetable" %>
    <%= tag(:link, rel: 'apple-touch-icon', sizes: '180x180', href: asset_path('apple-touch-icon.png')) %>
    <%= tag(:link, rel: 'icon', type: 'image/png', sizes: '32x32', href: asset_path('favicon-32x32.png')) %>
    <%= tag(:link, rel: 'icon', type: 'image/png', sizes: '16x16', href: asset_path('favicon-16x16.png')) %>
    <%= tag(:link, rel: 'manifest', href: asset_path('site.webmanifest')) %>
    <%= yield :head %>
  </head>
  <body class="min-h-screen bg-pageBg flex flex-col gap-y-10">
    <%= render '/shared/gtm_no_script' %>
    <%= render "layouts/shared/menu" %>
    <aside class="max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
      <!-- next two flash messages required by devise -->
      <% if notice %>
        <p class="p-3 text-center font-bold text-green-700 border border-green-700 bg-green-200 notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="p-3 text-center font-bold text-red-700 border border-red-700 bg-red-200 alert"><%= alert %></p>
      <% end %>
    </aside>
    <main class="flex-auto max-w-7xl mx-auto px-4 pt-12 sm:px-6 lg:px-8">
      <%= yield %>
    </main>
    <%= render "layouts/shared/footer" %>
  </body>
</html>
